:root {
  --theme-color-white: #fff;
  --theme-color-green: #30d158;
  --theme-color-violet: #9130de;
  --theme-color-blue: #2c3fee;
  --main-text-color: #1c1c1e;
  --inverse-text-color: #7c7c7c;


  --theme-color-opacity-red: #ffefd0;
  --theme-color-opacity-violet: #f3ecff;
  --theme-color-opacity-green: #e0fff8;
  --theme-color-opacity-black: #f1f1f1;
  --theme-color-opacity-pink: #fee;
}

body {
  font-family: 'Whyte', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
}

/* header section */
.header {
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
  position: sticky;
  top: 0;
  z-index: 100;
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  height: 4rem;
  padding: 0 2rem;
  margin: auto;
}

.header-nav__link-logo-container {
  height: 2.5rem;
}

.header-nav__link-logo {
  height: 100%;
  border-radius: 35%;
  box-shadow:
    0 .4rem 1rem var(--shadow-color),
    0 .1rem .5rem var(--shadow-color),
    0 0 2rem var(--shadow-color);
}

.header-nav__menu-icon {
  font-size: 2rem;
  color: var(--inverse-theme-color);
  cursor: pointer;
  transition: all 0.5s;
}

.header-nav__menu-icon:hover {
  font-size: 2.5rem;
  filter: brightness(250%);
}

.header-nav__menu-checkbox {
  display: none;
}

.header-nav__menu-checkbox:checked+.header-nav__link-list {
  left: 0;
}

.header-nav__link-list {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 4rem;
  left: 100%;
  width: 100%;
  height: 100%;
  background-color: var(--theme-color-white);
  gap: 1.5rem;
  margin: 0;
  padding: 0;
  transition: all .5s;
}

.header-nav__link-item {
  list-style: none;
}

.header-nav__link {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--inverse-text-color);
  transition: all .5s;
}

.header-nav__link:hover {
  color: var(--theme-color-blue);
}

/* header left button */
.header-nav__button-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.header-nav__button-link-singup {
  font-weight: 600;
  background-color: var(--theme-color-blue);
  border: .15rem solid var(--theme-color-blue);
  padding: .45rem 1rem;
  border-radius: .8rem;
  text-decoration: none;
  color: var(--theme-color-white);
  transition: all 0.5rem;
}

.header-nav__button-link-singup:hover {
  font-weight: 600;
  background-color: var(--theme-color-white);
  border: .15rem solid var(--theme-color-blue);
  padding: .45rem 1rem;
  border-radius: .8rem;
  text-decoration: none;
  color: var(--theme-color-blue);
  transition: all 0.5rem;
}

.header-nav__button-link-singin {
  font-weight: 600;
  color: var(--theme-color);
  background-color: var(--theme-color-white);
  border: .15rem solid var(--theme-color-blue);
  padding: .45rem 1rem;
  border-radius: .8rem;
  color: var(--theme-color-blue);
  text-decoration: none;
  transition: all 0.5rem;
}

/* article section */
.main {
  width: 100%;
  font-family: whyte;
}

/* profile section */
.profile {
  text-align: center;
  padding: 2rem 0;
}

.profile-container {
  padding: 0 2rem;
}

.profile__info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.profile__info-title {
  font-size: 2.6rem;
  letter-spacing: -.2rem;
  color: var(--code-color);
  margin: 0;
}

.software-engineer {
  font-weight: 300;
}

.social-network {
  text-decoration: none;
  color: var(--code-color);
}

.profile__info-description {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6rem;
  margin: 0;
}

/* form section */
.form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 0 auto;
}

.form__search {
  display: flex;
  align-items: center;
  margin: 2rem 0 0;
  opacity: 3;
  transition: all .2s ease-in-out;
}

.form__search-input {
  font-family: favorit, sans-serif;
  font-size: 1.1rem;
  background-color: var(--theme-color-opacity-black);
  border-radius: 1rem;
  border: none;
  width: 100%;
  height: 3.25rem;
  line-height: 1.87rem;
  padding: .5rem 3rem;
}


.form__search-input:focus {
  outline: none;
  background-color: #fff;
  box-shadow: 0 10px 50px rgb(0 0 0 / 10%);
  border: 1px solid #fff;
}

.examples {
  display: flex;
  width: auto;
  margin: .8rem 0 0;
  gap: .6rem;
  align-items: center;
  justify-content: center;
  color: var(--inverse-text-color);
}

.examples-text {
  display: flex;
  flex: wrap;
  font-size: .8rem;
  color: var(--inverse-text-color);
  border: 1px solid var(--inverse-text-color);
  padding: .3rem .6rem;
  margin-top: 0;
  border-radius: .5rem;
  cursor: pointer;
}


/* WORKS SECTION */
.how {
  margin-top: 4rem;
}

.how-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 0 2rem;
}

.how__title {
  font-size: 1.5rem;
  margin: 0;
}

.how__works {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.how__work {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-bottom: 1rem;
  overflow: hidden;
  transition: all .5s;
}

.how__work:hover {
  transform: scale(1.05);
}

.how__work-container {
  display: flex;
  width: 100%;
  margin: 0;
}

.how__work-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
  margin: 0 auto;
}

.how__work-data {
  display: flex;
  flex-direction: column;
  gap: .75rem;
  text-align: center;
  padding: 0 1rem;
}

.how__work-title {
  color: var(--main-text-color);
  margin: 0;
  font-size: 1.3rem;
}


.how__work-about {
  font-weight: 300;
  margin: 0;
}

/* =========MOOD BROWSE========= */
.mood {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 6rem 0;
}

.mood-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  justify-content: center;
  gap: 1.5rem;
  margin: 0 auto;
}

.mood__title {
  font-size: 1.5rem;
  margin: 0;
  text-align: center;
}

.mood__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-right: -15px;
  margin-left: -15px;
}

.mood__browse {
  display: flex;
  flex-wrap: wrap;
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
  flex-direction: column;
  gap: 1rem;
  transition: all .5s;
  align-items: center;
  border-radius: 1rem;
}

/* mood-containers-color */
.mood-1 {
  background-color: var(--theme-color-opacity-red);
}

.mood-1:hover {
  box-shadow:
    0 0 1rem var(--theme-color-opacity-red),
    0 0 2rem var(--theme-color-opacity-red),
    0 0 3rem var(--theme-color-opacity-red);
  transform: scale(1.1);
  transition: all .3s ease-in-out;
}

.mood-2 {
  background-color: var(--theme-color-opacity-green);
}

.mood-2:hover {
  box-shadow:
    0 0 1rem var(--theme-color-opacity-green),
    0 0 2rem var(--theme-color-opacity-green),
    0 0 3rem var(--theme-color-opacity-green);
  transform: scale(1.1);
  transition: all .3s ease-in-out;
}

.mood-3 {
  background-color: var(--theme-color-opacity-violet);
}

.mood-3:hover {
  box-shadow:
    0 0 1rem var(--theme-color-opacity-violet),
    0 0 2rem var(--theme-color-opacity-violet),
    0 0 3rem var(--theme-color-opacity-violet);
  transform: scale(1.1);
  transition: all .1s ease-in-out;
}

.mood-4 {
  background-color: var(--theme-color-opacity-black);
}

.mood-4:hover {
  box-shadow:
    0 0 1rem var(--theme-color-opacity-black),
    0 0 2rem var(--theme-color-opacity-black),
    0 0 3rem var(--theme-color-opacity-black);
  transform: scale(1.1);
  transition: all .1s ease-in-out;
}

.mood-5 {
  background-color: var(--theme-color-opacity-pink);
}

.mood-5:hover {
  box-shadow:
    0 0 1rem var(--theme-color-opacity-pink),
    0 0 2rem var(--theme-color-opacity-pink),
    0 0 3rem var(--theme-color-opacity-pink);
  transform: scale(1.1);
  transition: all .1s ease-in-out;
}

.how__browse:hover {
  transform: scale(1.05);
}

.mood__browse-container {
  display: flex;
  width: 60%;
  margin: 0;
  align-items: center;
  justify-content: center;
}

.mood__browse-image {
  padding-top: 2rem;
  width: 100%;
}

.mood__browse-data {
  display: flex;
  flex-direction: column;
  gap: .75rem;
  text-align: center;
  padding-bottom: 2rem;
}

.mood__browse-title {
  color: var(--main-text-color);
  margin: 0;
  font-size: 1rem;
  margin-top: 1rem;
}


/* <========BROWSE BY PACK=========> */
.pack {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.pack-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
  margin-left: -1rem;
  margin-right: -1rem;
}

.pack__title {
  font-size: 1.5rem;
  margin: 0;
  text-align: center;
}

.pack__packs-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  margin-right: -15px;
  margin-left: -15px;
}

.pack__packs {
  display: flex;
  flex-wrap: wrap;
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
  flex-direction: column;
  gap: 1rem;
  transition: all .5s;
  align-items: center;
  border-radius: 1rem;
}

.pack__image-container {
  width: 7rem;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  margin: 0 1.5rem;
}

.pack__image {
  width: 100%;
}

.pack__image-container:hover {
  box-shadow: 0 20px 50px rgb(0 0 0/20%);
}

.pack__packs-data {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  text-align: center;
  margin: 0;
  padding: 0;
}

.pack__packs-title {
  font-size: 1.1rem;
  color: var(--main-text-color);
  margin: 0;
  cursor: pointer;
}

.pack__packs-info {
  font-weight: 300;
  margin: 0;
  padding: 0;
  font-size: .9rem;
  color: var(--inverse-text-color);
}

/* PRICE SECTION  */
.price {
  text-align: center;
  padding: 0 2rem;
}

.price-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.price__container {
  font-display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

.price__title {
  font-size: 2.2rem;
  font-weight: 800;
  margin: 0 auto;
}

.price__description {
  font-size: 1.2rem;
  font-weight: normal;
  line-height: 1.5rem;
  margin: 0 auto;
  margin-top: 1.5rem;
}

.price__button {
  background: var(--theme-color-blue);
  border: none;
  margin: 0 auto;
  justify-content: center;
  height: 60px;
  padding: 0 1rem;
  margin-top: 1.5rem;
  border-radius: 1rem;
  width: 100%;
}

.price__button-link {
  text-align: center;
  font-size: 1.1rem;
  font-weight: 700;
  color: var(--theme-color-white);
  text-decoration: none;

}

/* STORYTALE FEATURES */
.features {
  display: flex;
  flex-direction: column;
  padding: 6rem 0;
  margin: 0 auto;
  width: 100%;
  text-align: center;

}

.features-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 80%;
  justify-content: center;
  padding: 0 2rem;
  margin: 0 auto;

}

.features__title {
  font-size: 1.5rem;
  margin: 0;
  margin-bottom: 2rem;
}

.features__feature-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  margin-right: -15px;
  margin-left: -15px;
}


.features__feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  margin: 0 auto;
  padding: 50px 20px;
  overflow: hidden;
  transition: all .5s;
  border-radius: 1.5rem;
}

.feature-1 {
  background-color: var(--theme-color-opacity-violet);
}

.feature-2 {
  background-color: var(--theme-color-opacity-red);
}

.feature-3 {
  background-color: var(--theme-color-opacity-green);
}

.feature-4 {
  background-color: var(--theme-color-opacity-black);
}



.features-image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0;
}

.features__features-image {
  display: flex;
  vertical-align: center;
  flex-direction: column;
  justify-content: center;
  width: 75%;
  margin: 0;
}

.features__feature-data {
  display: flex;
  flex-direction: column;
  gap: .75rem;
  text-align: center;
  margin: 0;
  padding: 0;
}

.features__feature-title {
  font-size: 1.8rem;
  color: var(--main-text-color);
  margin: 0;
}

.features__feature-description {
  font-weight: 300;
  margin: 0;
  padding: 0;
  font-size: 1.1rem;
}

/* STORYTALE FOOTER SECTION */
.footer {
  background-color: var(--theme-color-blue);
  color: var(--theme-color-white);
  padding: 1.4rem 0;
  margin-top: 6rem;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  padding: 0 2rem;
}

.footer-nav__link-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 0;
  padding: 0;
}

.footer-nav__link-item {
  list-style: none;
}

.footer-nav__link {
  display: flex;
  width: 1.5rem;
  transition: .25s all;
}

.footer-nav__link:hover {
  filter: brightness(150%);
  transform: scale(1.5);
}

.footer-nav__link-image {
  width: 100%;
}

.footer-nav__credits {
  text-align: center;
  font-size: .8rem;
  font-weight: 350;
  margin: 0;
  padding-top: .5rem;
}

.footer-nav__credits-author {
  font-size: .8rem;
  color: var(--highlight-color-2);
  text-decoration: none;
}


.register {
  margin-top: 5rem;
}

.register-container {
  margin-left: 2rem;
  margin-right: 2rem;
}

.register-feature {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.register-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register-item__img-container {
  width: auto;
  margin: 0;
}

.register-item__img {
  width: 100%;
}

.register-item__title {
  font-size: 2rem;
  letter-spacing: -.05rem;
  text-align: center;
  margin-bottom: 0;
}

.register-item__container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.register-item__button-container {
  width: 100%;
}

.register-item__button {
  font-family: 'whyte', sans-serif;
  font-size: 1.2rem;
  border: none;
  border-radius: .7rem;
  color: var(--theme-color-white);
  background: var(--theme-color-violet);
  padding: 1rem 2rem;
  cursor: pointer;
}

.__modifier {
  gap: 1rem;
}

.register-item__button-info {
  font-family: 'whyte', sans-serif;
  font-size: 1.2rem;
  border: none;
  border-radius: .7rem;
  color: var(--theme-color-white);
  background: var(--theme-color-violet);
  padding: 1rem 2rem;
  cursor: pointer;
  width: 100%;
}

.register-item__button:hover {
  background-color: #45d368cb;
}

.register-item__form-container {
  margin-top: 2rem;
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 0;
}

.register-item__form-input {
  display: flex;
  font-family: 'whyte', sans-serif;
  font-size: 1.2rem;
  border: 1px solid #a0a0a0;
  border-radius: .6rem;
  height: 3.2rem;
  padding: .5rem .5rem;
  width: 100%;
}

.--color {
  color: var(--main-text-color);
  background: var(--theme-color-green);
}



@media (min-width: 854px) {

  .header-nav__menu-icon {
    display: none;
  }

  .header-nav__link-list {
    position: static;
    flex-direction: row;
    width: auto;
    background-color: inherit;
  }

  .header-nav__link {
    font-size: 1rem;
    color: var(--text-color);
  }

  .profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    max-width: 1024px;
    width: 60%;
    margin: auto;
    margin-top: 10%;
    ;
    justify-content: center;
  }

  .profile__info {
    flex: 1;
    gap: 1.5rem;
    text-align: center;
  }

  .profile__info-title {
    font-size: 3.75rem;
    font-weight: 800;
    letter-spacing: -.15rem;
    line-height: 4rem;
    color: var(--main-text-color);
  }

  .profile__info-description {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    line-height: 2rem;
    margin: 0 4rem;
    color: var(--inverse-text-color);
  }

  .form {
    width: 75%;
    margin: 0 auto;
  }

  .form__search-input {
    height: 4.5rem;
    width: 100%;
  }

  .how-container {
    display: flex;
    align-items: center;
    padding: 0;
    max-width: 1024px;
    margin: auto;
  }

  .how__works {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .how__work-container {
    max-width: 15rem;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }

  .how__work-image {
    max-width: 100%;
  }

  .how__work-about {
    font-weight: 300;
    font-size: 1.1rem;
  }

  .mood-container {
    display: flex;
    align-items: center;
    padding: 0;
    max-width: 1024px;
    margin: auto;
  }

  .mood__list {
    gap: 2rem;
  }

  /* HOW TO BROWSE */
  .how__browse-image {
    max-width: 100%;
  }

  .how__browse-title {
    font-weight: 300;
    font-size: 1.1rem;
  }

  .mood__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }

  .pack-container {
    margin: 0 10rem;
  }

  .pack__packs-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }

  /* PRICE CONTAINER */
  .price__container {
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 60rem;
  }

  .price__title {
    font-size: 2.5rem;
  }

  .price__description {
    font-size: 1.5rem;
    line-height: 2rem;
    width: 65%;
  }

  .price__button {
    width: 30%;
  }

  /* STORYTALE FEATURES */

  .features-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 60rem;
  }

  .features__feature {
    padding: 60px 40px;
  }

  .features__feature-title {
    font-size: 2rem;
    margin: 0;
  }

  .features__feature-description {
    font-size: 1.3rem;
  }

  .features__feature-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .register-feature {
    display: flex;
    flex: 1;
    flex-direction: row;
  }

  .__modifier {
    flex-direction: row;
    display: flex;
  }

  .register-item__title {
    font-size: 2.2rem;
    text-align: left;
    line-height: 2.6rem;
    margin: 0;
  }

  .__modifier-2 {
    padding: 4rem;
    padding-bottom: 0;
  }

  .register-item__container {
    margin: 0;
  }

  .register-item__title {
    margin: 0;
  }

  .register-item__button-container {
    flex-direction: row;
    width: 100%;
  }

  .register-item__button-info {
    width: 20rem;
  }




  .register-form__container {
    display: flex;
    flex: 1;
    flex-direction: row;
    gap: 1rem;
    width: 100%;
    margin-top: 2rem;
  }

  .register-item__form-container {
    margin: 0;
  }

  .register-item__button-container {
    margin: 0;
  }

  .register-item__button {
    width: 10rem;
  }
}