:root {
  --theme-color-white: #fff;
  --theme-color-green: #30d158;
  --theme-color-violet:#9130de;
  --theme-color-blue: #2c3fee;
  --main-text-color: #1c1c1e;
  --inverse-text-color: #7c7c7c;


  --theme-color-opacity-red: #ffefd0;
  --theme-color-opacity-violet: #f3ecff;
  --theme-color-opacity-green: #e0fff8;
  --theme-color-opacity-black: #f1f1f1;
  --theme-color-opacity-pink: #fee;
}
body {
  font-family: whyte;
}
/* header section */
.header {
  position: sticky;
  top: 0;
  z-index: 100;
  box-shadow: 0 0 .25rem .2rem 0 var(--inverse-text-color);
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1024px;
  height: 4rem;
  padding: 0 2rem;
  margin: auto;
}

.header-nav__link-logo-container {
  height: 2.5rem;
}

.header-nav__link-logo {
  height: 100%;
  border-radius: 35%;
  box-shadow: 
    0 .4rem 1rem var(--shadow-color),
    0 .1rem .5rem var(--shadow-color),
    0 0 2rem var(--shadow-color);
}

.header-nav__menu-icon {
  font-size: 2rem;
  color: var(--inverse-theme-color);
  cursor: pointer;
  transition: all 0.5s;
}

.header-nav__menu-icon:hover {
  font-size: 2.5rem;
  filter: brightness(250%);
}

.header-nav__menu-checkbox {
  display: none;
}

.header-nav__menu-checkbox:checked+.header-nav__link-list {
  left: 0;
}

.header-nav__link-list {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 4rem;
  left: 100%;
  width: 100%;
  height: 100%;
  background-color: var(--theme-color-white);
  gap: 1.5rem;
  margin: 0;
  padding: 0;
  transition: all .5s;
}

.header-nav__link-item {
  list-style: none;
}

.header-nav__link {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--inverse-text-color);
  transition: all .5s;
}

.header-nav__link:hover {
  color: var(--theme-color-blue);
}

/* header left button */
.header-nav__button-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.header-nav__button-link-singup{
  font-weight: 600;
  background-color: var(--theme-color-blue);
  border: .15rem solid var(--theme-color-blue);
  padding: .45rem 1rem;
  border-radius: .8rem;
  text-decoration: none;
  color: var(--theme-color-white);
  transition: all 0.5rem;
}

.header-nav__button-link-singup:hover {
  font-weight: 600;
  background-color: var(--theme-color-white);
  border: .15rem solid var(--theme-color-blue);
  padding: .45rem 1rem;
  border-radius: .8rem;
  text-decoration: none;
  color: var(--theme-color-blue);
  transition: all 0.5rem;
}

.header-nav__button-link-singin {
  font-weight: 600;
  color: var(--theme-color);
  background-color: var(--theme-color-white);
  border: .15rem solid var(--theme-color-blue);
  padding: .45rem 1rem;
  border-radius: .8rem;
  color: var(--theme-color-blue);
  text-decoration: none;
  transition: all 0.5rem;
}

/* article section */
* Main section */
.main {
  width: 100%;
}

/* profile section */
.profile  {
  text-align: center;
  padding: 2rem 0;
}

.profile-container {
  padding: 0 2rem;
}

.profile__info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.profile__info-title {
  color: var(--code-color);
  margin: 0;
}

.software-engineer {
  font-weight: 300;
}

.social-network {
  text-decoration: none;
  color: var(--code-color);
}

.profile__info-description {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6rem;
  margin: 0;
}


.profile__cover-image {
  display: flex;
  justify-content: center;
}

.profile__image-container {
  display: flex;
  max-width: 18rem;
  border: 0.25rem solid var(--inverse-theme-color);
  border-radius: 20%;
  overflow: hidden;
  transition: all .5s;
}

.profile__image-container:hover {
  box-shadow: 0 0 0 .25rem var(--highlight-color-1);
}

.profile__image {
  width: 100%;
}


























@media (min-width: 854px) {
  .header-nav__menu-icon {
    display: none;
  }

  .header-nav__link-list {
    position: static;
    flex-direction: row;
    width: auto;
    background-color: inherit;
  }

  .header-nav__link {
    font-size: 1rem;
    color: var(--text-color);
  }




}